/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Body Styling */
body {
    background-color: #d5640d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Main Section */
.main_section {
    background-color: #c84503;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
    border: 2px solid blue;
}

/* Heading */
.mainheding {
    margin-bottom: 20px;
    color: #333;
    font-size: 1.5rem;
}

/* Input Field */
.Inpute_section{
     width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
}

/* Button */
.calculate_section {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.calculate_section:hover {
    background-color: #0056b3;
}

/* Result Text */
.final_kg_calculated_value {
    margin-top: 20px;
    font-size: 1.1rem;
    color: #555;
}

